#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #fff;
}

.quiz-card {
  background-color: white;
  border-radius: 12px;
  padding: 40px;
  max-width: 780px;
  margin: 40px auto; /* Centruje na środku ekranu */
  text-align: center;
}

/* START SCREEN */

.start-title {
  color: black;
}

.start-btn {
  color: #fff;
  background-color: royalblue;
  padding: 0.5rem 9rem;
}

/* QUESTIONS SCREEN */

.question {
  color: royalblue;
  font-weight: bold;
  font-size: 1.5rem;
}

.answers-review h3 {
  color: royalblue;
  font-size: 1.5rem;
  font-weight: bold;
}

/* SUMMARY SCREEN */

.summary-title {
  font-size: 3rem;
}

.summary-subtitle {
  font-size: 1.5rem;
  color: black;
}

.summaryItem-item {
  font-weight: bold;
  color: black;
}

.answers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  font-size: 1.25rem;
}

.answers-review {
  text-align: left;
  margin-bottom: 4rem;
}

.bold {
  font-weight: bold;
  margin-right: 0.5rem;
}

.answer-btn {
  background-color: darkgreen;
  width: 600px;
}

.restart-btn {
  background-color: darkgreen;
  width: 50%;
}
